@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Expletus+Sans:100,200,300,400,500,600,700');

/* ---------------------------------------------HTML/Body */

body,html {
  height: 100%;
  padding-top: 50px; 
  background-color: #FFFAFA;
  font-family: "Oswald", sans-serif;
}


/* ---------------------------------------------Heading */

.navbar-brand {
	font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    color: #DAA520 !important;
}

.nav-link {
	font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.fixed-top {
	position: fixed;
}


/* ---------------------------------------------Home Page */

.about {
    width: 1050px;
    margin: auto;
    padding-bottom: 50px;
}

.about-header {
    font-weight: 600;
    font-size: 55px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.about-text {
	font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.register-now-button {
	font-size: 16px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	width: 160px;
	height: 40px;
	display: block;
    background: #DAA520;
    border: 0;
}

/* https://www.bootdey.com/snippets/view/General-Search-Results */

.search-button {
   background: none;
   border: none;
   width: 100%;
   height: 100%;
}

.search-form input {
    height: 100%;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.search-form {
    width: 600px;
}

.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 1050px;
    margin: auto;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card-body {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.table-collapsible {
    padding-bottom: 100px;
}

.table-content .crypto-icon img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 35px;
}

.table-icon {
    width: 160px;
}

.table-website {
    width: 250px;
}

.table-favourite {
    width: 90px;
}

.favourite-button {
   background: none;
   border: none;
   font-size: 17px;
}


/* ---------------------------------------------Registration Page */

.card-registration {
    position: relative;
    max-width: 450px;
    margin: auto;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.register-header {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
}

.welcome-text {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-field {
    margin: auto;
    padding-top: 20px;
}

.register-button {
	font-size: 16px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	height: 40px;
	display: block;
    background: #DAA520;
    border: 0;
    margin: auto;
}

.register-row {
    padding-top: 30px;
}

.registered-text {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

label.form-label{
    font-size: 13px;
    font-weight: 400;
}
