@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Expletus+Sans:100,200,300,400,500,600,700');

/* ---------------------------------------------HTML/Body */

body,html {
  height: 100%;
  padding-top: 50px; 
  background-color: #FFFAFA;
  font-family: "Oswald", sans-serif;
}

.row {
    width: 100%;
}

/* ---------------------------------------------Heading */

.navbar-brand {
	font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    color: #DAA520 !important;
}

.nav-link {
	font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.fixed-top {
    position: fixed;
}

.header-section {
    width: 1050px;
    margin: auto;
    padding-bottom: 50px;
}

.page-header {
    font-weight: 600;
    font-size: 55px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.page-text {
	font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.header-button {
	font-size: 16px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	width: 160px;
	height: 40px;
	display: inline-block;
    background: #DAA520;
    border: 0;
}


/* ---------------------------------------------Home Page */

/* https://www.bootdey.com/snippets/view/General-Search-Results */

.search-button {
   background: none;
   border: none;
   height: 100%;
   margin-left: 15px;
}

.refresh-button {
   background: none;
   border: none;
   height: 100%;
}

.search-refresh-button {
    margin-left: 32px;
}

.search-form input {
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.search-form {
    width: 600px;
}

.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 1050px;
    margin: auto;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card-body {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.table-collapsible {
    padding-bottom: 100px;
}

.table-content .crypto-icon img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 35px;
}

.table-icon {
    width: 160px;
}

.table-website {
    width: 250px;
}

.table-favourite {
    width: 90px;
}

.not-favourite-button {
   background: none;
   border: none;
   font-size: 17px;
   color: #000000 !important;
}

.favourite-button {
   background: none;
   border: none;
   font-size: 17px;
   color: #DAA520 !important;
}

.no-results-found {
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}

.modal-title {
    font-size: 20px;
    width: 100%;
}

.modal-button {
	font-size: 16px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	width: 80px;
	height: 40px;
    background: #DAA520;
    border: 0;
    margin: 0px 5px;
}

.modal-buttons {
    margin: auto;    
}

.close {
    font-weight: 400;
    padding: 10px !important;
}


/* ---------------------------------------------Registration/Log In Page */

.card-registration {
    position: relative;
    max-width: 450px;
    margin: auto;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.register-login-header {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
}

.input-field {
    margin: auto;
    padding-top: 20px;
}

.register-login-button {
	font-size: 16px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	height: 40px;
	display: block;
    background: #DAA520;
    border: 0;
    margin: auto;
}

.register-login-row {
    padding-top: 30px;
}

.register-login-text {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

label.form-label {
    font-size: 13px;
    font-weight: 400;
}

.flashes {
    padding-bottom: 40px;
}

.flash-background {
    background-color: #DAA520;
    width: 450px;
    margin: auto;
    border-radius: 8px;
}
.flash-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* ---------------------------------------------Watchlist Page */

.empty-watchlist {
    text-align: center;
}

.no-coins-text {
    padding-top: 20px;
    font-size: 16px;
}

.add-coin-text {
    font-size: 24px;
}


/* ---------------------------------------------Crypto Page */

.get-crypto-icon {
    display: inline-block;
    padding-left: 20px;
    padding-right: 5px;
}

.get-crypto-icon img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.get-crypto-name {
     display: inline-block;
}

.crypto-name {
    font-size: 40px;
}

.get-crypto-favourite {
    margin-left: 10px;
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    text-align: center;
    float: right;
}

.crypto-card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.crypto-about {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 300;
    font-size: 15px;
}

.crypto-info {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

.comments-form {
    margin-left: 20px;
    margin-right: 20px; 
}

.comment-input {
    font-size: 15px;
}

.comment-button {
	font-size: 13px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	width: 70px;
	height: 30px;
	display: block;
    background: #DAA520;
    border: 0;
    float: right;
}

.login-comment {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.login-comment-text {
    text-align: center;
    padding-top: 6px;
}

.login-comment-buttons {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 10px;
}

.login-comment-button {
	font-size: 13px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-align: center;
	width: 70px;
	height: 30px;
    background: #DAA520;
    border: 0;
    margin: 0px 3px;
}

.comment-card {
    margin-top: 30px;
}

.comment-card-body {
    padding-top: 20px;
}

.comments-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.comment-username-date {
    margin: 10px 20px 10px 20px;
    font-size: 13px;
    background-color: #DAA520;
}

.comment-username {
    margin-left: 3px;
    display: inline-block
}

.comment-date {
    font-size: 12px;
    float: right;
    margin-right: 3px;
}

.comment-text {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    font-weight: 300;
    font-size: 15px;
}

.edit-comment {
    font-size: 12px;
    float:right;
    margin-right: 20px;
    margin-top: 5px;
}

.delete-comment {
    font-size: 12px;
    float:right;
    margin-right: 20px;
    margin-top: 5px;
    color: #000000 !important;
}

.comment-space {
    margin-bottom: 50px;
}


/* ---------------------------------------------Media Queries*/

@media (max-width: 350px) {

    .header-section {
        width: 250px;
        margin: auto;
    }

    .page-header {
        font-size: 19px;
    }

    .page-text {
        font-size: 13px;
    }

    .header-button {
        font-size: 13px;
        width: 120px;
        height: 30px;
    }

    .search-form {
        width: 200px;
        margin: auto;
    }

    .refresh-button {
        margin-left: 19px;
    }

    .search-button {
        margin-left: 6px;
        padding-right: 0;
    }

    .search-refresh-button {
        margin-left: 0px;
    }

    .search-mobile {
        padding: 0;
    }

    .search-form input {
        width: 120px
    }

    .search-input {
        font-size: 13px;
    }

    .row {
        margin: auto;
    }

    .table-collapsible {
        display: none;
    }

    .table-content .crypto-icon img {
        margin-left: 0px;
    }

    th {
        display: none;
    }

    .get-crypto-icon {
        display: none;
    }

    .crypto-name {
        font-size: 22px;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .get-crypto-favourite {
        margin-left: 0;
        width: 30px;
    }

    .crypto-about {
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 300;
        font-size: 12px;
    }

    .crypto-info {
        margin-left: 15px;
        font-size: 12px;
    }

    .comments-form {
        margin-left: 15px;
        margin-right: 15px; 
    }

    .comment-input {
        font-size: 12px;
    }

    .comment-button {
        font-size: 11px;
        height: 25px;
        width: 60px;
    }

    .comments-header {
        font-size: 18px
    }

    .comment-text {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
    }

    .comment-username-date {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
    }

    .comment-date {
        font-size: 11px;
    }

    .edit-comment, .delete-comment {
        font-size: 11px;
    }
}