{% extends "base.html" %}
{% block content %}

<section id="index">
    <div class="row">
        <div class="header-section">
            <div class="page-header">Cryptocurrency is the Future</div>
            <div class="page-text">Share your thoughts with other investors today!</div>
            {% if session.user %}
            <button class="header-button">
                <a href="{{ url_for('watchlist') }}" style="color:#000000">
                    Watchlist
                </a>
            </button>
            {% else %}
            <button class="header-button">
                <a href="{{ url_for('register') }}" style="color:#000000">
                    Register Now
                </a>
            </button>
            {% endif %}
        </div>
    </div>
    <!-- https://www.bootdey.com/snippets/view/General-Search-Results -->
    <div class="row">
        <div class="col-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form action="{{ url_for('search') }}" method="post">
                        <div class="row">
                            <div class="col-12 search-mobile">
                                <div class="row no-gutters">
                                    <div class="col-lg-10 col-7">
                                        <input type="text" placeholder="Search" class="form-control search-input"
                                            name="query" id="query" minlength="3" required>
                                    </div>
                                    <div class="search-refresh-button">
                                        <a class="refresh-button" href="{{ url_for('index') }}" style="color:#000000">
                                            <i class="fas fa-redo"></i>
                                        </a>
                                        <button type="submit" class="search-button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    {% if cryptos|length > 0 %}
                    <div class="table-responsive table-hover">
                        <table class="table table-content">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"><b>Coin</b></th>
                                    <th class="table-collapsible"><b>Founded</b></th>
                                    <th class="table-collapsible"><b>Website</b></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for crypto in cryptos %}
                                <tr>
                                    <td class="table-icon">
                                        <div class="crypto-icon">
                                            <a href="{{ url_for('get_crypto', crypto_id=crypto._id) }}">
                                                <img src="{{ crypto.crypto_logo }}" alt="icon">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="crypto-name-mobile">
                                        <div class="crypto-names">
                                            <a href="{{ url_for('get_crypto', crypto_id=crypto._id) }}">
                                                <h3>{{ crypto.market_name }}</h3>
                                                <h5>{{ crypto.crypto_name }}</h5>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="table-collapsible">
                                        <div class="crypto-founded">
                                            <h6>{{ crypto.founded }}</h6>
                                        </div>
                                    </td>
                                    <td class="table-collapsible table-website">
                                        <div class="crypto-website">
                                            <a href="{{ crypto.url}}" target="_blank" rel="noopener noreferrer">
                                                <h6>{{ crypto.website }}</h6>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="table-favourite">
                                        {% if session.user %}
                                        {% if crypto._id in watched_cryptos %}
                                        <div class="crypto-favourite">
                                            <a href="{{ url_for('remove_watchlist', crypto_id=crypto._id, url='index') }}"
                                                class="favourite-button">
                                                <i class="fas fa-star"></i>
                                            </a>
                                        </div>
                                        {% else %}
                                        <div class="crypto-not-favourite">
                                            <a href="{{ url_for('add_watchlist', crypto_id=crypto._id, url='index') }}"
                                                class="not-favourite-button">
                                                <i class="far fa-star"></i>
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% else %}
                                        <div class="crypto-favourite">
                                            <button type="button" class="not-favourite-button" data-toggle="modal"
                                                data-target="#WatchModal">
                                                <i class="far fa-star"></i>
                                            </button>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="no-results-found">No results found</div>
                    {% endif %}
                    <!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
                    <div class="modal fade" id="WatchModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <div class="modal-title">Please log in or register to add to watchlist</div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-buttons">
                                    <button class="modal-button">
                                        <a href="{{ url_for('login') }}" style="color:#000000">
                                            Login
                                        </a>
                                    </button>
                                    <button class="modal-button">
                                        <a href="{{ url_for('register') }}" style="color:#000000">
                                            Register
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>

{% endblock %}