{% extends "base.html" %}
{% block content %}

<section id="watchlist">
    <div class="row">
        <div class="header-section">
            <div class="page-header">My Watchlist</div>
            <div class="page-text">Create a list of your favourite cryptocurrencies!</div>
            <a class="header-button" href="{{ url_for('index') }}" style="color:#000000">
                Add New Coin
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    {% if watched_cryptos|length > 0 %}
                    <div class="table-responsive table-hover">
                        <table class="table table-content">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"><b>Coin</b></th>
                                    <th class="table-collapsible"><b>Founded</b></th>
                                    <th class="table-collapsible"><b>Website</b></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for crypto in watched_cryptos %}
                                <tr>
                                    <td class="table-icon">
                                        <div class="crypto-icon">
                                            <a href="{{ url_for('get_crypto', crypto_id=crypto._id) }}">
                                                <img src="{{ crypto.crypto_logo }}" alt="icon">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="crypto-name">
                                            <a href="{{ url_for('get_crypto', crypto_id=crypto._id) }}">
                                                <h3>{{ crypto.market_name }}</h3>
                                                <h5>{{ crypto.crypto_name }}</h5>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="table-collapsible">
                                        <div class="crypto-founded">
                                            <h6>{{ crypto.founded }}</h6>
                                        </div>
                                    </td>
                                    <td class="table-collapsible table-website">
                                        <div class="crypto-website">
                                            <a href="{{ crypto.url}}" target="_blank" rel="noopener noreferrer">
                                                <h6>{{ crypto.website }}</h6>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="table-favourite">
                                        <div class="crypto-favourite">
                                            <a href="{{ url_for('remove_watchlist', crypto_id=crypto._id, url='watchlist') }}"
                                                class="favourite-button">
                                                <i class="fas fa-star"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="empty-watchlist">
                        <div class="no-coins-text">You do not have any favourite coins yet</div>
                        <a class="add-coin-text" href="{{ url_for('index') }}" style="color:#DAA520">Add a new coin to
                            get started!</a>
                    </div>
                    {% endif %}
</section>

{% endblock %}